body{background-color: rgb(130, 106, 251);}

li{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

nav{background:#E6E6E6; border-radius: 9px; padding: 30px; box-shadow: 0 5px 20px rgba(0,0,0,0.4);}

nav ul li{ display: inline-block; list-style: none; font-size: 2rem; padding: 0 10px; margin: 0 20px; cursor: pointer; position: relative;}

nav ul li:after{content: ''; width: 0; height: 3px; background: #2192ff; position: absolute; left: 0; bottom: -10px; transition: 0.5s;}

nav ul li:hover::after{width:100%;}

nav a {text-decoration: none;padding-right: 10px; color: aliceblue;color: black;}

div.centre{display: block; margin-left: 430px; margin-right: auto; }

img{width: 250px; height: 250px; }

.heading{color: aliceblue; text-align: center;
font-size: 40px;}

.welcome-text{color: aliceblue;
text-align:center;
font-size: 25px;}

